{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1>Services</h1>
    </div>
  </div>
</div>

<div class="container img">
  <div class="row">
    {% for service in services %}
    <div class="col-md-3 col-lg-3 col-xl-3"> 
      <div class="card mb-4">
          <a href="#" class="text-decoration-none text-reset">
          <img src="/static/css/media/ceramic_coating.png" class="card-img-top" alt="Ceramic Coating"> 
          <div class="card-body">
            <h5 class="card-title rec-card-title">{{ service.name }}</h5>
            <p class="card-text">{{ service.description }}</p>
            <hr>
            <div class="card-text">£ {{ service.price }} </div>
          </div>
        </a>
        {% if request.user.is_superuser %}
        <div class="div text-center">
          <a href="{% url 'edit_service' service.id %}"><button class="btn btn-success ">Edit</button></a></span>
          <button class="btn btn-danger" data-toggle="modal" data-target="#service-modal-{{service.id}}">Delete</button>
          </span>
        </div>
        {% endif %}
        </div>
    </div>
    {% endfor %}
  </div>


  <!-- DELETE SERVICE MODAL -->
  <div class="modal fade" id="service-modal-{{service.id}}" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Service</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h4>Are you sure you want to delete the servuce {{ service.name}}?</h4>
                              <p>This action cannot be undone.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a href="{% url 'delete_service' service.id %}" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col text-center">
<h1> Discover what our clients are saying about our services </h1>
    </div>

    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-success">Leave a Review</button>
      </div>
    </div>

    <div class="row">
      <div class="col m-5">
        <ul class="list-group list-group-flush">
          {% for review in reviews %}
          <li class="list-group-item">
            <div class="fw-bold">Service: {{ review.service }}</div>
            <div class="div">{{ review.content}}</div>
            <div class="div">Rating: {{ review.rating}}</div>
            <div class="div">By: {{ review.customer }}</div>
          </li>
          {% endfor  %}
        </ul>
      </div>
    </div>
  </div>







</div>


</div>


{% endblock %}
