{% extends "base.html" %}
{% load static %}

{% block content %}
<section>
      <div class="hero-container">
        <div class="hero-image">
          <img src="/static/css/media/hero.image.png" alt="Hero Image" width="100%">
        </div>
        <container class="text"> Welcome to MT4DETAILING! We take pride in providing top-notch detailing services for your vehicles. Your satisfaction is our priority, 
          and we highly value your feedback to continuously improve our services. Thank you for choosing us!</container>
        </div>
      </div>
      <footer class="mt4-footer">
            <p>Contact Us:</p>
            <ul>
                <li><span>Email: info@mt4detailing.com</span></li>
                <li><span>Phone: +1 (123) 456-7890</span></li>
            </ul>
        </footer>
        
      
        
    </section>
{% endblock %}